.btn {
    width: 100%;
    color: #000000;
    padding: 5px 20px;
    cursor: pointer;
    border-radius: 5px;
    height: 40px;
    border: 1px solid #333333;
    box-shadow: 5px 5px 10px #000000;
}