html {
    --duration: .7s;
}

.tab-content {
    height: 250px;
    border: 1px solid transparent;
    border-color: #fff #dee2e6 #dee2e6;
}

.nav-link {
    color: #495057 !important;
    border-color: #dee2e6 !important;
}

.nav-link.active {
    background-color: #000 !important;
    color: #fff !important;
}

.nav-link::before {
    transition: background-color var(--duration), transform var(--duration);
}

